<section>
    <h1>Lunch Map</h1>
    <p>
        Let's vote for our lunch destinations ٩(◕‿◕)۶
    </p>
</section>
<div class="mapouter">
    <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=JP%20Morgan%20glasgow&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.enable-javascript.net">enable-javascript.net</a></div>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 600px;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 600px;
        }
    </style>
</div>

<div id="checkboxes">
    <header>
        <h1>Lunch Options</h1>
    </header>
    <ul>
        <li><input type="checkbox"> option 1</li>
        <li><input type="checkbox"> option 2</li>
        <li><input type="checkbox"> option 3</li>
        <li><input type="checkbox"> options 4</li>
    </ul>
    <form>
        <header>
            <h1>New Lunch Option</h1>
        </header>
        <input type="text" name="newlunchopt"><br>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="container">
    <header>
        <h1>Ranking</h1>
    </header>
    <div class="wrapper">
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Place</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="rank">1</td>
                    <td class="place">KFC</td>
                    <td class="votes">10</td>

                </tr>
                <tr>
                    <td class="rank">2</td>
                    <td class="place">Pret</td>
                    <td class="votes">8</td>


                </tr>
      
            </tbody>
        </table>
    </div>
</div>

